'scopeName': 'source.gmx'
'comment': 'GMX Syntax: version 0.1'
'fileTypes': [
  'gmx'
]
'firstLineMatch': '\\A#!.*?\\bgmx\\b'
'name': 'GMX'
'patterns': [
  {
    'contentName': 'source.gml.embedded'
    'begin':'(?<=<string>)'
    'end': '(?=<\/string>)'
    'patterns': [
      {'include': 'source.gml'}
    ]
  }
  {
    'contentName': 'source.xml'
    'begin':'(?=\<[\/|!|\\w])'
    'end': '(?<=<string>)|(?<=>$)'
    'patterns': [
      {'include': 'text.xml'}
    ]
  }
]
